<div id="cb-info" class="row row-eq-height care-section minor-v-pads minor-h-pads visible-lg">
  <div class="col-md-4 col-xs-12">
    <h1 class="text-center col-xs-11">Returns</h1>

    <div class="panel sharp panel-default col-xs-11 no-pads">
      <div class="panel-body">
        <p class="col-xs-12 h5 justify">

          We want you to feel comfortable purchasing online,
          so we allow a 60 day grace period to try on your pair
          and decide if they are right for you!
          If you are unsatisfied, you can return them for a refund.
          Refund eligibility requires the glasses to be in the same condition
          as you received them and returned in the original packaging.
        </p>
      </div>
    </div>

  </div>

  <div class="col-md-4 col-xs-12">
    <h1 class="text-center col-xs-11 col-xs-offset-1">Warranty</h1>

    <div class="panel sharp panel-default col-xs-11 col-xs-offset-1 no-pads">
      <div class="panel-body">
        <p class="col-xs-12 h5 justify">
          Our sunglasses are warranted to the original purchaser
          for one year from the date of purchase against any defect
          in the original materials and craftsmanship.
          We will replace at our discretion,
          any pair of Fellos found to be defective and exclusive
          of damage caused by improper or unreasonable use.
        </p>
      </div>
    </div>

  </div>

  <div class="col-md-4 col-xs-12">
    <h1 class="text-center col-xs-11 col-xs-offset-1">Shipping</h1>

    <div class="panel sharp panel-default col-xs-11 col-xs-offset-1 no-pads">
      <div class="panel-body">
        <p class="col-xs-12 h5 justify">
          We ship all domestic and international orders with USPS.
          All orders from the United States and Canada are FREE of charge.
          All orders outside of the Unites States and Canada are a flat fee of $20.
          Domstic orders take 2 - 3 days onces shipped and internal vary
          and take upwards of 3 days.
        </p>
      </div>
    </div>

  </div>

</div>

<!-- MD..XS -->
<div id="cb-info" class="row care-section minor-v-pads minor-h-pads hidden-lg">
  <div class="col-md-4 col-xs-12">
    <h1 class="text-center col-xs-11"><span class="icon highlight pe-7s-refresh"></span>  &nbsp; Returns</h1>

    <div class="panel sharp panel-default col-xs-11 no-pads">
      <div class="panel-body">
        <p class="col-xs-12 h5 justify">

          We want you to feel comfortable purchasing online,
          so we allow a 60 day grace period to try on your pair
          and decide if they are right for you!
          If you are unsatisfied, you can return them for a refund.
          Refund eligibility requires the glasses to be in the same condition
          as you received them and returned in the original packaging.
        </p>
      </div>
    </div>

  </div>

  <div class="col-md-4 col-xs-12">
    <h1 class="text-center col-xs-11 col-xs-offset-1"><span class="icon highlight pe-7s-refresh-2"></span> &nbsp; Warranty</h1>

    <div class="panel sharp panel-default col-xs-11 col-xs-offset-1 no-pads">
      <div class="panel-body">
        <p class="col-xs-12 h5 justify">
          Our sunglasses are warranted to the original purchaser
          for one year from the date of purchase against any defect
          in the original materials and craftsmanship.
          We will replace at our discretion,
          any pair of Fellos found to be defective and exclusive
          of damage caused by improper or unreasonable use.
        </p>
      </div>
    </div>

  </div>

  <div class="col-md-4 col-xs-12">
    <h1 class="text-center col-xs-11 col-xs-offset-1">
      <span class="icon highlight pe-7s-mail"></span> &nbsp; Shipping
    </h1>

    <div class="panel sharp panel-default col-xs-11 col-xs-offset-1 no-pads">
      <div class="panel-body">
        <p class="col-xs-12 h5 justify">
          We ship all domestic and international orders with USPS.
          All orders from the United States and Canada are FREE of charge.
          All orders outside of the Unites States and Canada are a flat fee of $20.
          Domstic orders take 2 - 3 days onces shipped and internal vary
          and take upwards of 3 days.
        </p>
      </div>
    </div>

  </div>

</div>
