{% if false %}
  {% if settings.use_slider_hp10 %}
  <!-- Home slide -->
  <div class="slider-homepage">
    {% include 'shortcode-slider' %}
  </div>
  <!-- ./Home slide -->
  {% endif %}
{% endif %}

<div id="home-banner" class="no-pads col-xs-12 no-margin">

  <div class="hidden-xs text-center full-w video-text text-drop-shadow row-eq-height"
    style="position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .15);
    z-index: 1;"
    >

    <div style="margin: auto;">
      <h1>Vision Promotes Progress</h1>
      <span class="h3">Lack of vision translates to failure at school, work and health. Those who cannot see are often mired in poverty.</span>
      <hr class="minor-h-marg highlight" />
      <a href="/collections/all" class="cta-bttin sharp btn btn-lg">
        <p class="h2">SHOP SUNGLASSES</p>
        <br>
        <span class="h4" style="font-weight: 900;">and change a life</span>
      </a>
    </div>
  </div>


  <img class="hidden-xs" src="{{ 'blurred-vision-angle.jpg' | file_url }}" alt="Fello Eyewear">
  
  <a href="/collections/all" title="shop" id="for-ios" class="hidden visible-xs">
    <img class="full-w" src="{{ 'fello-eyewear-welcome.jpg' | file_url }}" alt="Fello Eyewear">
  </a>
</div>

{% include 'shop-sale' %}

{% if settings.use_banner_carousel_home10 %}
{% include 'shortcode-banner-slide'  %}
{% endif %}
<div class="no-margin med-v-pads charity-hp full-w minor-h-pads">
  <div class="row">
    <h1 class="text-center">Help A Fello Out</h1>
  </div>

  <div class="hidden-xs row">
    <br />
    <h3 class="col-md-8 col-md-offset-2 minor-h-pads justify">
      For every pair of sunglasses sold,
      Fello donates $5 to VOSH.
      You can also accompany us in our pursuit to raise awareness and
      make a difference by contributing <a href="http://www.vosh.org/donate" target="_blank">here</a>.
    </h3>
    <br />
  </div>

  <div class="visible-xs row">
    <p class="col-md-8 col-md-offset-2 justify minor-h-pads">
      For every pair of sunglasses sold,
      Fello donates $5 to VOSH.
      You can also accompany us in our pursuit to raise awareness and
      make a difference by contributing <a href="http://www.vosh.org/donate" target="_blank">here</a>.
    </p>
  </div>

  <div class="row text-center count-wrap">
    <h1 class="odometer highlight">Calculating...</h1>
  </div>
  <div class="row text-center minor-v-marg">
    <h1 class="blue">Lives Changed</h1>
  </div>

</div>


  	{% include 'header2' with "Instagram" %}

<script 
src='https://snapppt.com/widgets/widget_loader/5aae36b1-7142-4fe2-a099-0abc609ab375/grid.js'
 class='snapppt-widget'></script>

{{ 'odometer.js' | asset_url | script_tag }}
<script>
  window.odometerOptions = {
    auto: true, // Don't automatically initialize everything with class 'odometer'
//     selector: '.my-numbers', // Change the selector used to automatically find things to be animated
    format: 'd', // Change how digit groups are formatted, and how many digits are shown after the decimal point
    duration: 2000, // Change how long the javascript expects the CSS animation to take
    theme: 'train-station', // Specify the theme (if you have more than one theme css file on the page)
    animation: 'count' // Count is a simpler animation method which just increments the value,
    // use it when you're looking for something more subtle.
  };

    $(document).ready(function() {
//   $(window).scroll(function() {
//     var hT = $('.charity-hp').offset().top,
//         hH = $('.charity-hp').outerHeight(),
//         wH = $(window).height(),
//         wS = $(this).scrollTop();
//     if (wS > (hT+hH-wH-350)){
      $('.odometer').html(3341);
//     }
  });
</script>

<script>
  $(document).ready(function() {
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      $(".video-placeholder").remove();
      $("#for-ios").removeClass("hidden");
      $("#video-wrapper").remove();
      $(".video-text h1").css("margin-bottom", 0);
      $(".video-text .h3").css("margin-top", 0);
      $(".video-text").css("background-color", "transparent");
    } else {
      $(".video-wrapper").removeClass("hidden");
    }
  });

//   $(".video-wrapper").ready(function() {
//     $("#bg-video").ready(function() {
//       sleep(500).then(function() {
//         console.log("HERE");
//         $(".video-placeholder").remove();
//       });
//     });
//   });
  
/**
 * @author       Rob W <gwnRob@gmail.com>
 * @website      http://stackoverflow.com/a/7513356/938089
 * @version      20131010
 * @description  Executes function on a framed YouTube video (see website link)
 *               For a full list of possible functions, see:
 *               https://developers.google.com/youtube/js_api_reference
 * @param String frame_id The id of (the div containing) the frame
 * @param String func     Desired function to call, eg. "playVideo"
 *        (Function)      Function to call when the player is ready.
 * @param Array  args     (optional) List of arguments to pass to function func
 */
  $("iframe").ready(function() {
    sleep(4100).then(function() {
      $(".snptwdgt__ftr").hide();
      $(".snptcrd__ovrly").hide();
      $(".snptwdgt__item").attr('style', function(i,s) { return s + ' padding: 5px !important; margin: 0px !important;' })
      $(".snptwdgt__item .fauximg-bin").attr('style', 'border-radius: 0px !important;')
    });
  });
</script>
