{% assign item = all_products[insta_product[alt]] %}
<a herf="{{ item.url }}" data-pid="{{ item.id }}" class="banner-border primary col-xs-2 no-pads">
  <img src="{{ insta_product[img]" alt="{{ insta_product[alt] }}">
</a>