<div class="sale-bg hidden-sm hidden-xs" style="
  clear: both;
  height: 800px;
  background: url('https://cdn.shopify.com/s/files/1/1321/8937/files/sale-bg-big.jpg');
  background-size: cover;
  margin-bottom: 10px;
  ">

  {% include 'pillars' %}

  <div class="shop-sale col-xs-offset-2" style="clear: both; padding-top: 190px;">
    <h1 class="no-margin" style="line-height: 0.85; font-weight: 700;">
      $10<span style="vertical-align: text-top;">+</span> OFF<br />
      <span class="small-caps"><small>all classic & bamboo models</small></span>
    </h1>
    <br />
    <a href="/collections/all", title="Shop Sale">
      <div class="btn btn-lg btn-primary sharp">
        Shop Sale
      </div>
    </div>
  </div>

</div>

<div class="sale-bg hidden-lg hidden-md" style="margin-bottom: 10px;">

  {% include 'pillars' %}

  <div class="shop-sale text-center minor-v-pads" style="
    clear: both;
    border-top: 1px solid #1fa7d6;
    border-bottom: 1px solid #1fa7d6;
    ">
    <h1 class="no-margin" style="line-height: 0.85; font-weight: 700;">
      $10<span style="vertical-align: text-top;">+</span> OFF<br />
      <span class="small-caps"><small>all classic & bamboo models</small></span>
    </h1>
    <br />
    <a href="/collections/all", title="Shop Sale">
      <div class="btn btn-lg btn-primary sharp">
        Shop Sale
      </div>
    </div>
  </div>

</div>
