<div class="col-xs-10 col-xs-offset-1">
  {% for product in collections["classic"].products %}
    {% assign title = product.title %}

    {% if title == "Lunar Fantom" or title == "Black Konvoy" or title == "Lunar Konvoy" or title == "Tortoise Fantom" %}
      <a href="{{ product.url }}" title="Shop {{ title }}" class="col-xs-6">
        <img class="prod-shot" src="{{ product.featured_image.src | img_url: 'large' }}">
      </a>
    {% endif %}
  {% endfor %}
</div>
