{% include 'pillars' %}

<div class="shop-sale text-center">
  <h1 class="no-margin" style="
    line-height: 0.85;
    font-weight: 700;
    clear: both;
    padding-top: 190px;
    ">
    15% OFF<br />
    <span class="small-caps"><small>any & all models</small></span>
  </h1>
  <small>use code:</small> <code style="background-color: #ea235b; color: black;"><strong>valentine</strong></code>
  <br />
  <a href="/collections/all", title="Shop Sale">
    <div class="btn btn-lg btn-primary sharp">
      Shop Sale
    </div>
  </div>
</div>
