$(document).ready(function() {

  var $crumb1 = $("#wizard .crumbs a:eq(0)");
  var $crumb2 = $("#wizard .crumbs a:eq(1)");
  var $crumb3 = $("#wizard .crumbs a:eq(2)");
  var $crumb4 = $("#wizard .crumbs a:eq(3)");
  var $crumb5 = $("#wizard .crumbs a:eq(4)");

  var $step1 = $("#wizard .step:eq(0)");
  var $step2 = $("#wizard .step:eq(1)");
  var $step3 = $("#wizard .step:eq(2)");
  var $step4 = $("#wizard .step:eq(3)");
  var $step5 = $("#wizard .step:eq(4)");
  
  var $select1 = $("#selected li .hold:eq(0)");
  var $select2 = $("#selected li .hold:eq(1)");
  var $select3 = $("#selected li .hold:eq(2)");
  var $select4 = $("#selected li .hold:eq(3)");

  var allCrumbs = Array($crumb1, $crumb2, $crumb3, $crumb4, $crumb5);
  var allSelects = Array($select1, $select2, $select3, $select4);
  var allSteps = Array($step1, $step2, $step3, $step4, $step5);
  var allFilters = Array("style", "sex", "shape", "hair");
  var allImgs = $(".results img");
  var allStyles = Array("fantom", "konvoy", "heron");

  var loadImgResults = function() {

    var data = $("#fit-filters").data();

    var filters = Object.keys(data).map(function(key) {
      return data[key];
    });         

    var combo = filters.reverse().join('-');

    if (data["style"].length < 1) {
      var selected = [];
      for (i = 0; i < allStyles.length; i++) {
        var selector = allStyles[i] + combo;
        var selection = $("img[data-filter=" + selector + "]" + "," + "img[data-filter=" + allStyles[i] + "]");
        for (e = 0; e < selection.length; e++) {
          selected.push(selection[e]);
        }
      }
    } else {
      var selected = $("img[data-filter=" + combo + "]" + "," + "img[data-filter=" + data["style"] + "]");
    }

    for (i = 0; i < selected.length; i++) {
      var newSrc = $(selected[i]).attr("data-src");
      $(selected[i]).attr("src", newSrc);
    }
    
    var hiddens = $('img[src=""]');
    var showers = $('img:not([src=""])');
    hiddens.parent("a").parent(".hovereffect.shop-prod").hide();
    hiddens.hide();
    showers.parent("a").parent(".hovereffect.shop-prod").show();
    showers.show();
  }

  var disableCrumbs = function(crumbs) {
    for (i = 0; i < crumbs.length; i++) {
      $(crumbs[i]).addClass("not-allowed");
    }
  }

  function scrollToAnchor(id, speed){
    var tag = $("#" + id);
    var dist = tag.offset().top - 50;
    $("html, body").animate({ scrollTop: dist }, speed);
  }
  $(".results .step-message span").click(function() {
    scrollToAnchor("shop-results", 1700);
  });
 
  var toStep = function(currentCrumb, nextCrumb, hideSteps, showStep, selected, clicked) {

    currentCrumb.removeClass("current");
    nextCrumb.addClass("current");
    nextCrumb.removeClass("not-allowed");

    for (i = 0; i < hideSteps.length; i++) {
      $(hideSteps[i]).addClass("hidden");
    }

    showStep.removeClass("hidden");
    
    if (clicked.length == 1) {
      selected.html(clicked.html());
      selected.css("visibility", "visible");
      selected.siblings().addClass("highlight");
    } else if (clicked.length > 1) {
      var htmlStr = "";
      for (i = 0; i < clicked.length; i++) {
        htmlStr += clicked[i].outerHTML;
      }
      var fullIcon = htmlStr + "<br />" + "<h1 class='hidden-xs' style='margin-top: 2px;'>All</h1>"
      selected.html(fullIcon);
      selected.css("visibility", "visible");
      selected.find("h1").addClass("highlight");
    }
    
    if (currentCrumb.html() == $crumb5.html()) {
      for (i = 0; i < allImgs.length; i++) {
        $(allImgs[i]).attr("src", "");
      }
    }
    
    scrollToAnchor("top-crumbs", 500);
  }

  var setFilter = function(filter) {
    var type = Object.keys(filter)[0];
    $("#fit-filters").data(type, filter[type]);
  }

  var filterSex = function(filter, wrapper) {
    switch(filter['sex']) {
      case 'male':
        $(wrapper + ' .male').removeClass("hidden");
        $(wrapper + ' .female').addClass("hidden");
        break;
      case 'female':
        $(wrapper + ' .male').addClass("hidden");
        $(wrapper + ' .female').removeClass("hidden");
        break;
    }
  }
  
  var setColors = function(filter) {
    filterSex(filter, '.pick-shape');
    var wrapper = ".pick-shape";

    switch(filter['hair']) {
      case 'blonde':
        $(wrapper + " .blonde." + filter['sex']).removeClass("hidden");
        $(wrapper + " .brown").addClass("hidden");
        $(wrapper + " .black").addClass("hidden");
        break;
      case 'brown':
        $(wrapper + " .brown." + filter['sex']).removeClass("hidden");
        $(wrapper + " .blonde").addClass("hidden");
        $(wrapper + " .black").addClass("hidden");
        break;
      case 'black':
        $(wrapper + " .black." + filter['sex']).removeClass("hidden");
        $(wrapper + " .brown").addClass("hidden");
        $(wrapper + " .blonde").addClass("hidden");
        break;
    }
  }

  var clearFilters = function(filters) {
    for (i = 0; i < filters.length; i++) {
      $("#fit-filters").data(filters[i], "");
    }
  }

  var clearSelected = function(unSelected) {
    for (i = 0; i < unSelected.length; i++) {
      $(unSelected[i]).css("visibility", "hidden");
      $(unSelected[i]).siblings().removeClass("highlight");
    }
  }

  $("#wizard .crumbs a").click(function() {

    if ($(this).hasClass("not-allowed")) return;
    if ($(this).hasClass("current")) return;

    var $nextText = $(this).html();

    var $currentCrumb = $(".crumbs").find(".current");
    var $nextCrumb = $(this);

    if ($nextText == $crumb1.html()) {

      var clearfilters = allFilters;
      var $showStep = $step1;
      var $selected = $select1;
      var $disCrumbs = Array($crumb2, $crumb3, $crumb4, $crumb5);
      var unSelected = Array($select1, $select2, $select3, $select4);

    } else if ($nextText == $crumb2.html()) {

      var clearfilters = allFilters.diff(Array("sex"));
      var $showStep = $step2;
      var $selected = $select2;
      var $disCrumbs = Array($crumb3, $crumb4, $crumb5);
      var unSelected = Array($select2, $select3, $select4);

    } else if ($nextText == $crumb3.html()) {

      var clearfilters = allFilters.diff(Array("sex", "hair"));
      var $showStep = $step3;
      var $selected = $select3;
      var $disCrumbs = Array($crumb4, $crumb5);
      var unSelected = Array($select3, $select4);

    } else if ($nextText == $crumb4.html()) {

      var clearfilters = allFilters.diff(Array("sex", "hair", "shape"));
      var $showStep = $step4;
      var $selected = $select4;
      var $disCrumbs = Array($crumb5);
      var unSelected = Array($select4);

    }
    
    var $hideSteps = allSteps.diff(Array($showStep));

    toStep($currentCrumb, $nextCrumb, $hideSteps, $showStep, $selected, []);
    clearFilters(clearfilters);
    disableCrumbs($disCrumbs);
    clearSelected(unSelected);
  });
  
  $("#reset").click(function() {
    var $currentCrumb = $(".crumbs").find(".current");
    var $nextCrumb = $(this);

    var clearfilters = allFilters;
    var $showStep = $step1;
    var $selected = $select1;
    var $disCrumbs = Array($crumb2, $crumb3, $crumb4, $crumb5);
    var unSelected = Array($select1, $select2, $select3, $select4);
    var $hideSteps = allSteps.diff(Array($showStep));

    toStep($currentCrumb, $nextCrumb, $hideSteps, $showStep, $selected, []);
    clearFilters(clearfilters);
    disableCrumbs($disCrumbs);
    clearSelected(unSelected);
  });
  
  $("#wizard .step .panel").click(function() {
    var $currentStep = $(this).parent().parent();
    var $hideSteps = Array($currentStep);
    var $showStep = $currentStep.next();
    var filter = $(this).data();
    var filterData = $("#fit-filters").data();

    if ($currentStep.html() == $step1.html()) {

      var $currentCrumb = $crumb1;
      var $selected = $select1;
      var $nextCrumb = $crumb2;

      setFilter(filter);
      filterSex(filterData, '.pick-hair');
      
      fbq('track', 'pick_sex');

    } else if ($currentStep.html() == $step2.html()) {

      var $currentCrumb = $crumb2;
      var $selected = $select2;
      var $nextCrumb = $crumb3;

      setFilter(filter);
      setColors(filterData);

      fbq('track', 'pick_hair');

    } else if ($currentStep.html() == $step3.html()) {

      var $currentCrumb = $crumb3;
      var $selected = $select3;
      var $nextCrumb = $crumb4;

      setFilter(filter);
      
      fbq('track', 'pick_shape');

    } else if ($currentStep.html() == $step4.html()) {

      var $currentCrumb = $crumb4;
      var $selected = $select4;
      var $nextCrumb = $crumb5;

      setFilter(filter);
      loadImgResults();
      
      fbq('track', 'pick_style');

    }

    toStep($currentCrumb, $nextCrumb, $hideSteps, $showStep, $selected, $(this));
  });

  $(".all-styles").click(function() {
    var $currentStep = $(".pick-style");
    var $hideSteps = Array($currentStep);
    var $showStep = $currentStep.next();
    var filter = [];

    var $currentCrumb = $crumb4;
    var $selected = $select4;
    var $nextCrumb = $crumb5;
    
    var $clicked = $(".pick-style .panel img");

    setFilter(filter);
    loadImgResults();
    
    fbq('track', 'pick_style');

    toStep($currentCrumb, $nextCrumb, $hideSteps, $showStep, $selected, $clicked);
  });
});


function scrollToAnchor(id){
  var tag = $("#" + id);
  var dist = tag.offset().top - 50;
  $("html, body").animate({ scrollTop: dist }, 1700);
}
$(".results .step-message span").click(function() {
  scrollToAnchor("shop-results");
});

$(".shop-prod a").click(function() {
  fbq('track', 'shop_product');
});

$("img.face-result").on("load", function() {
  $(this).addClass("face-border");
});