<h1 class="blue timeline-title">
  Optometrists + Fello Eyewear
  <br />
  <small class="blue">Helping Together</small>
</h1>

<img class="full-w" src="{{ 'timeline-final.png' | file_url }}" alt="Fello and VOSH history" />

<hr class="highlight" />

<h3 class="timeline-footer minor-h-marg minor-v-marg text-center">
  Fello works with VOSH to further descrease the the people affected by eye disease.
  For every pair at the office we <span class="doc-donate bright-green">donate $5</span> to VOSH.
</h3>

<img class="full-w" src="{{ 'eye-glasses-clear.png' | file_url }}" alt="Fello eye glasses" />
