<h1 class="text-center jumbotron section-header__title no-margin blue-bg">Work With Fello</h1>

<div class="med-v-pads container">
  <h2 class="text-center med-h-pads hidden-xs hidden-sm">
    Email us at <span class="highlight">contact@felloeyewear.com</span> to Collaborate
  </h2>
  
  <h4 class="text-center med-h-pads visible-sm">
    Email us at <span class="highlight">contact@felloeyewear.com</span> to Collaborate
  </h4>
  
  <p class="text-center med-h-pads visible-xs">
    Email us at <span class="highlight">contact@felloeyewear.com</span> to Collaborate.
    <br />
    <br />
    We are excited to speak with you.
  </p>
</div>
