<h1 class="text-center jumbotron section-header__title no-margin blue-bg">Fellos</h1>

<div class="row">
  {% assign img_src = "fantom-male-round-blonde-1.jpg" %}
  {% assign name = "Jake Portanova" %}
  {% assign socials = "facebook|twitter" | split: "|" %}
  {% assign accounts = "jake.portanova|jakeandbake9" | split: "|" %}
  {% assign bio = "It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum." %}
  {% include "fello-tile" %}

  {% assign img_src = "fantom-male-round-blonde-1.jpg" %}
  {% assign name = "Nick Holke" %}
  {% assign socials = "facebook|instagram" | split: "|" %}
  {% assign accounts = "nick.holke|bluegreenrock" | split: "|" %}
  {% assign bio = "It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum." %}
  {% include "fello-tile" %}

  {% assign img_src = "fantom-male-round-blonde-1.jpg" %}
  {% assign name = "Peter Fettis" %}
  {% assign socials = "facebook" | split: "|" %}
  {% assign accounts = "peter.fettis" | split: "|" %}
  {% assign bio = "It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum." %}
  {% include "fello-tile" %}

</div>

<!-- <div class="row">
  {% assign img_src = "fantom-male-round-blonde-1.jpg" %}
  {% assign name = "Andrew Dinsmore" %}
  {% assign socials = "facebook|instagram" | split: "|" %}
  {% assign accounts = "andrew.dinsmore|a_dinsmore2" | split: "|" %}
  {% assign bio = "It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum." %}
  {% include "fello-tile" %}
</div> -->