<div class="row">
  <div class="top-pic care-pic jumbotron col-xs-12 no-margin">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h1>Customer Care</h1>
    </div>
  </div>
</div>

<h1 class="hidden-xs text-center care-stripe small-caps jumbotron">Your Satisfaction Is Our Priority</h1>
<h3 class="visible-xs text-center care-stripe small-caps jumbotron">Your Satisfaction Is Our Priority</h3>

<!-- Start SM-LG Screen -->
<div class="row row-eq-height care-section minor-v-pads minor-h-pads hidden-xs">
  <div class="col-xs-12 col-sm-6">
    <h1 class="text-center col-xs-11"><span class="icon highlight pe-7s-refresh"></span>  &nbsp; Returns</h1>

    <div class="panel sharp panel-default col-xs-11 no-pads">
      <div class="panel-body">
        <p class="col-xs-12 h5 justify">
          We want you to feel comfortable making a purchase online,
          so we provide a 30 day grace period to try on your Fellos
          and decide if they are right for you!
          If you are unsatisfied, you can return them for a full refund.
          To be eligible for a full refund the glasses must be in the same condition
          as you received them and returned in the original packaging.
        </p>
      </div>
      <div class="panel-footer sharp text-center"><a href="/pages/policies" title="policies">View Policy</a></div>
    </div>

  </div>
  
  <div class="col-xs-12 col-sm-6">
    <h1 class="text-center col-xs-11 col-xs-offset-1"><span class="icon highlight pe-7s-refresh-2"></span> &nbsp; Warranty</h1>


    <div class="panel sharp panel-default col-xs-11 col-xs-offset-1 no-pads">
      <div class="panel-body">
        <p class="col-xs-12 h5 justify">
          Our sunglasses are warranted to the original purchaser
          for one year from the date of purchase against any defect
          in the original materials and craftsmanship.
          We will replace at our discretion,
          any pair of Fellos found to be defective and exclusive
          of damage caused by improper or unreasonable use.
        </p>
      </div>
      <div class="panel-footer sharp text-center"><a href="/pages/policies" title="policies">View Policy</a></div>
    </div>


  </div>
</div>
<!-- End SM-LG Screen -->


<!-- Start XS Screen -->
<div class="row row-eq-height care-section minor-v-pads minor-h-pads visible-xs">
  <div class="col-xs-12 col-sm-6">
    <h1 class="text-center">Returns</h1>

    <div class="panel sharp panel-default no-pads">
      <div class="panel-body">
        <p class="col-xs-12 h5 justify">
          You may return your pair(s) for a refund within 30 days of your purchase.  
          To be eligible for a refund must be unused and in the same condition that you received it.
          It must also be in the original packaging.

          Once your return is received,
          we will send you an email to notify you that we have received your returned item.
          We will also notify you of the approval or rejection of your refund.
        </p>
      </div>
      <div class="panel-footer text-center"><a href="/pages/policies" title="policies">View Policy</a></div>
    </div>

  </div>
</div>

<div class="row row-eq-height care-section minor-v-pads minor-h-pads visible-xs">
  <div class="col-xs-12 col-sm-6">
    <h1 class="text-center">Exchanges</h1>


    <div class="panel sharp panel-default no-pads">
      <div class="panel-body">
        <p class="col-xs-12 h5 justify">
          We replace our sunglasses if they are defective or damaged.
          If you need to exchange it for the same item
          send us an email at contact@felloeyewear.com.
        </p>
      </div>
      <div class="panel-footer text-center"><a href="/pages/policies" title="policies">View Policy</a></div>
    </div>


  </div>
</div>
<!-- End XS Screen -->